/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 4, 2020, 11:42:02 PM
    Author     : Jessemy
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body
{
    margin: 0;
    padding: 0;
}

ul
{
    list-style-type: none;
    text-align: center;
}

li
{
    display: inline;
    padding: 66px;
}

a
{
    text-decoration: none;
}

.content
{
    width: 85%;
    margin: auto;
    padding: 25px;
    text-align: center;
}

h1
{
    margin: 10px;
    margin-left: 134px;
    margin-right: 0;
    padding-bottom: 35px;
    letter-spacing: 2px;
}

.navigation-bar
{
    margin: auto;
    width: 90%;
    border-bottom: 3px solid black;
    margin-bottom: 110px;
}

#tab
{
    border: 2px solid black;
    width: 75%;
    margin: auto;
}

#faq h3
{
    cursor: pointer;
    padding-left: 50px;
    margin-top: 25px;
}

#faq p
{
    text-align: left;
    margin-top: -10px;
    padding: 10px;
}

#quote form
{
    padding-left: 37%;
}

.form
{
    width: 50%;
}

.sections
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.section1, .section2, .section3
{
    padding: 10px;
    margin: 10px;
}